body {
	text-align: center;
	background-color: #11c0ef;
}

#container {
	width: 700px;
	height: 500px;
	margin: 0 auto;
	background-color: c0c0c0;
	text-align: left;
}

h1, h2, h3 { text-align: center; }

h1 {	background: FFFFFF; }

h2 {	background: aa00ff; }

h3 {	background: FF00FF; }

#padding { padding: 0px 80px 0px 15px; }

#snippet {
	background: FFFFC0;
	padding: 15px;
	font-style: italic;
	border-left: solid;
}